<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />
  </head>
  <body>
    <div class="form-box">
      <h1>Form</h1>
      <form action="{{ url_for('form') }}" method="post" autocomplete="off">
        <label for="username">
          <i class="fa fa-user"></i>
        </label>
        <input
          type="text"
          name="username"
          placeholder="Username"
          id="username"
          required
        />
        <label for="password">
          <i class="fa fa-lock"></i>
        </label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          required
        />
        <label for="email">
          <i class="fa fa-envelope-open"></i>
        </label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          id="email"
          required
        />
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Register" />
        <button class="home-btn" type="submit" type="button">
          <a href="{{ url_for('home') }}">Home</a>
        </button>
      </form>
    </div>
  </body>
</html>
